<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Template</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./css/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <h1>{{ intro }}</h1>

      <input v-model="carVendor" placeholder="Car Vendor">
      <input v-model="carModel" placeholder="Car Model">
      <input v-model="carPrice" placeholder="Car Price">

      <button v-on:click="gemBil">Gem bil</button>

      <p></p>
      <input v-model="carId" placeholder="Angiv id">
      <button v-on:click="sletBil">Slet bil</button>

      <h3>status: {{statuskode}}</h3>

      <h2>{{carVendor}} {{carModel}} {{carPrice}}</h2>
      
      <button v-on:click="getAllCars">Get Cars</button>
      

      <ul>
        <li v-for="car in carList">{{car.vendor}} - {{car.model}}</li>
      </ul>


    </div>

    <!-- Import App -->
    <script src="./js/main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
    <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>

    
    

  </body>
</html>
